body{
    align-items: center;
    justify-content: flex-end;
    display: flex;
    height: 100vh;
    flex-direction: column;
}
#bottomNav{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #f5f5f5;
    height: 100px;
}
#dataCont{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #ececec;
    height: 91%; width: 100%;
    margin-bottom: 10%;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 25px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
}